/* background for the body of the app */

body {
    background-color: #cccccc;
    font-family: 'Raleway', sans-serif;
}


/* styling for the title */

.title {
    font-family: 'Arvo', serif;
    font-size: 1.2rem;
    letter-spacing: 0.125rem;
    pointer-events: none;
    cursor: default;
}


/* kudos button styling */

.kudos {
    width: 10rem;
    margin-right: 2rem;
    border-radius: 2rem;
    position: fixed;
    right: 0;
}

.modalStyle {
    background-color: beige;
}

#showKudos {
    margin-top: 4rem;
}

.display {
    background-color: rgba(52, 78, 10, 0.4);
    width: 70%;
    margin: 0 auto;
    margin-bottom: 1.7rem;
    text-align: center;
    color: white;
    z-index: 100;
    box-shadow: 0.625rem 0.625rem 0.3125rem #888888;
}


/* styling for mobile devices */

@media screen and (max-width: 430px) {
    .title {
        letter-spacing: -0.125rem;
        width: 100%;
        text-align: left;
    }
    .kudos {
        width: 7rem;
        border-radius: 1rem;
        text-align: center;
    }
}