/* background image for the body of the app */

body {
    background: url('../images/motivation.jpg');
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


/* styling for the title */

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.125rem;
    pointer-events: none;
    cursor: default;
}


/* kudos button styling */

.kudos {
    width: 10rem;
    margin-right: 2rem;
    position: fixed;
    right: 0;
    border-radius: 2rem;
}

.modalStyle {
    background-color: beige;
}

#showKudos {
    margin-top: 4rem;
}

.display {
    background-color: rgba(52, 78, 10, 0.4);
    margin: 0 auto;
    width: 80%;
    height: 100%;
    text-align: center;
    color: white;
    font-size: 1.2rem;
}